---
import { AppointmentScheduler } from "./AppointmentScheduler";
---

<section id="schedule" class="bg-base-200 py-16 md:py-24">
  <div class="max-w-5xl mx-auto px-4">
    <AppointmentScheduler client:load />
  </div>
</section>
